<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D9068D61DF4EAA7007B91E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D9068F01DF4EAA7007B91E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D9068FB1DF4EAA7007B91E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
